 # 元组与列表

- **列表的应⽤场景**
- **列表的格式**
- **列表的常⽤操作**
- **列表的循环遍历**
- **列表的嵌套使⽤**

------

- **元组的应⽤场景**
- **定义元组**
- **元组常⻅操作**



## 列表的应⽤场景

> **思考：如果⼀个班级100位学⽣，每个⼈的姓名都要存储到变量，应该如何书写程序？声明100个变量吗？**
> **答：列表即可， 列表⼀次性可以存储多个数据。**

## 列表的格式

> **列表可以⼀次性存储多个数据，且可以为不同数据类型**

### 列表的常⽤操作

> **列表的作⽤是⼀次性存储多个数据，程序员可以对这些数据进⾏的操作有：增、删、改、查。**

In [1]:
li = [1,2,3,4,"张三","李四"]

name_list = ['张三', '李四', '王五','赵六']
print(name_list[0])
print(name_list[1])
print(name_list[2])

张三
李四
王五

#### 函数

* **index()：返回指定数据所在位置的下标 。**

In [2]:
# 列表序列.index(数据, 开始位置下标, 结束位置下标)
name_list = ['张三', '李四', '王五','赵六']
print(name_list.index('张三', 0, 2))

0

**count()：统计指定数据在当前列表中出现的次数。**

In [3]:
name_list = ['张三', '李四', '王五','张三']
print(name_list.count('张三'))

2

**len()：访问列表⻓度，即列表中数据的个数。**

In [4]:
name_list = ['张三', '李四', '王五','赵六']
print(len(name_list))

4

#### in与not in

> **in：判断指定数据在某个列表序列，如果在返回True，否则返回False**
>
> **not in：判断指定数据不在某个列表序列，如果不在返回True，否则返回False**

In [5]:
name_list = ['张三', '李四', '王五','赵六']
name = input('请输⼊您要搜索的名字：')
if name in name_list:
    print(f'您输⼊的名字是{name}, 名字已经存在')
else:
    print(f'您输⼊的名字是{name}, 名字不存在')

请输⼊您要搜索的名字：李四
您输⼊的名字是李四, 名字已经存在

### 增加

> **作⽤：增加指定数据到列表中。**

#### 函数

* **append()：**

列表结尾追加数据。

In [6]:
# 列表序列.append(数据)
name_list = ['张三', '李四', '王五','赵六']
name_list.append('阿坤')
print(name_list)

['张三', '李四', '王五', '赵六', '阿坤']

In [7]:
# 如果append()追加的数据是⼀个序列，则追加整个序列到列表
name_list = ['张三', '李四', '王五','赵六']
alist = ["唱","跳","rap","篮球"]
name_list.append(alist)
print(name_list)
# ['张三', '李四', '王五', '赵六', ['唱', '跳', 'rap', '篮球']]

['张三', '李四', '王五', '赵六', ['唱', '跳', 'rap', '篮球']]

In [8]:
list1 = ["张三","李四","王五"]
print(id(list1))
list1.append("赵六")
print(id(list1))
# 列表是可变的
# 修改之后，内存地址如果不变，那他就是

2043399464448
2043399464448

* **extend():**

> **列表结尾追加数据，如果数据是⼀个序列，则将这个序列的数据逐⼀添加到列表。**

In [9]:
name_list = ['张三', '李四', '王五','赵六']
name_list.extend('阿坤')
print(name_list)
# ['张三', '李四', '王五', '赵六', '阿', '坤']

['张三', '李四', '王五', '赵六', '阿', '坤']

**如果添加一个序列，则会将序列里面每一个元素添加进去**

In [10]:
name_list = ['张三', '李四', '王五','赵六']
alist = ["唱","跳","rap","篮球"]
name_list.extend(alist)
print(name_list)

['张三', '李四', '王五', '赵六', '唱', '跳', 'rap', '篮球']

* **insert()：**

**指定位置新增数据。**

In [11]:
# 列表序列.insert(位置下标, 数据)
name_list = ['张三', '李四', '王五','赵六']
name_list.insert(1, '阿坤')
# 结果：['张三','阿坤', '李四', '王五','赵六']
print(name_list)

['张三', '阿坤', '李四', '王五', '赵六']

### 删除

**删除列表当中的数据**

* del

**删除整个列表**

In [12]:
name_list = ['张三', '李四', '王五','赵六']
del name_list
print(name_list)

NameError: name 'name_list' is not defined

**删除指定数据**（根据索引删除）

In [14]:
name_list = ['张三', '李四', '王五','赵六']
del name_list[1]
print(name_list)
# ['张三', '王五', '赵六']

['张三', '王五', '赵六']

* **pop()：**

**删除指定下标的数据(默认为最后⼀个)，并返回该数据。**

In [15]:
name_list = ['张三', '李四', '王五','赵六']
name_list.pop(1)
print(name_list)
# ['张三', '王五', '赵六']

['张三', '王五', '赵六']

* **remove()：**

**移除列表中某个数据的第⼀个匹配项。**

In [16]:
# 列表序列.remove(数据)
name_list = ['张三', '李四', '王五','赵六']
name_list.remove("张三")
print(name_list)
# ['李四', '王五', '赵六']

['李四', '王五', '赵六']

* **clear()：**

**清空列表**

In [17]:
name_list = ['张三', '李四', '王五','赵六']
name_list.clear()
print(name_list)
# []

[]

# 作业

有一个列表li1 = ["张三", "王五","坤哥"，"李四", "赵六", "坤哥","王五","坤哥","张三",坤哥"]，将列表重复的数据删除，保留一个，不可以使用集合

In [18]:
# 有一个列表li1 = ["张三", "王五","坤哥"，"李四", "赵六", "坤哥","王五","坤哥","张三",坤哥"]，
# 将列表重复的数据删除，保留一个，不可以使用集合
li1 = ["张三", "王五","坤哥","李四", "赵六", "坤哥","王五","坤哥","张三","坤哥"]
# 1.遍历列表，将列表中的每个元素都放到一个新的列表中
# 2.如果新列表中没有这个元素，就添加到新列表中
# 3.如果新列表中有这个元素，就不添加
li2 = []
for i in li1:
    if i not in li2:
        li2.append(i)
print(li2)

['张三', '王五', '坤哥', '李四', '赵六']